body {
    background: pink;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.wrapper {
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    /* background-color: green; */
    /* border: 3px solid beige; */
    /* border-radius: 25%; */
}


h1 {
    flex-grow: 1;
    color: purple;
    background-color: pink;
    margin: 0 auto;
    padding: auto;
}


div.case {
    /* height: 35%; */
    display: flex;
    flex-direction: column;
}

label {
    /* background-color: rgb(250, 213, 219); */
    text-align: center;
    font-size: 20px;
    padding: 8px 15px 3px;
    color: rgb(114, 96, 96);
}

label>input {
    /* background-color: rgb(249, 149, 166); */
    background-color: transparent;
    text-align: center;
    width: 45px;
    font-size: 25px;
    border: 1px solid rosybrown;
    border-radius: 15px;
    color: rgb(89, 72, 72);
}

button {
    height: 40px;
    width: 80px;
    align-self: center;
    margin: 13px;
    border-radius: 10px;
    border: 1px solid rosybrown;
    background-color: salmon;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
}

button.button_reset {
    /* border: none; */
    background-color: transparent;
    letter-spacing: 2px;
    cursor: pointer;
}

p {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: green;
    padding: 0;
    transition: 1s;
    color: transparent;
    /* margin: 6px; */
}

p>span {
    transition: .3s;
    color: transparent;
    text-decoration: underline;
}

.button_reset {
    flex-grow: 1;
}

.blurring {
    animation: blurring 1s;
}

.anti-blur {
    animation: blurring reverse both 1s;
}

@keyframes blurring {
    0% {
        color: transparent;
    }

    100% {
        color: white;
    }
}